.weatherPane {
  width: 60%;
  padding: 2em;
  color: #ffffff;
  margin: 27em 2em 2em 2em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: animateFadeIn 400ms;
}

@keyframes animateFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.topRow,
.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  animation: animateFadeIn 400ms;
}

.city {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  margin: 0;
  letter-spacing: 1.1px;
  padding-right: 2em;
  padding-bottom: 0.1em;
  animation: animateFadeIn 400ms;
  text-shadow: #ffffff86 1px 0 10px;
}

.weather-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin: 5px 0 0 1px;
  animation: animateFadeIn 400ms;
}

.weather-icon {
  width: 120px;
  margin-left: 0;
  margin-top: -0.5em;
  padding-left: 80%;
  filter: invert(89%) sepia(100%) saturate(0%) hue-rotate(40deg)
    brightness(105%) contrast(104%);
  animation: animateFadeIn 400ms;
}

.temperature {
  font-weight: 600;
  font-size: 4em;
  width: auto;
  letter-spacing: -0.05rem;
  margin: 0.05em 0.05em 0.01em 0.09em;
  animation: animateFadeIn 400ms;
}
