.panelWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.leftPanel {
  width: 40%;
}

.rightPanel {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}