html, body {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

#root {
  width: 100vw;
  height: 100vh;
  
}

:root {
  overflow: hidden;
  background-color: #0034f1;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf');
}